.movies-list {
    margin: 30px;

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 1em;
        grid-auto-rows: minmax(420px, 1fr);
    }
}